# Database type: choose only "mysql" or "postgres"
DB_TYPE=mysql

# Source database connection
DB_HOST=ip_hosxp_slave
DB_PORT=3306
DB_USER=root
DB_PASSWORD=112233
DB_NAME=hos11253

# Patient API target
API_URL=http://127.0.0.1:3000/api/patient
SECRET_KEY=your-key
